/* ---------------------------------------- */
/* Harfa CSS
/*---------------------------------------- */
/* poudarek barva #820952 */
/* darker blue accent #08192d */
/* filter blue accent #021b36 */
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #0a183d;
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 15px;
  color: #6a7080;
  line-height: 1.8;
  font-weight: 500;
  text-align: center;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* ---------------------
Helperji CSS
 ----------------------- */
.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 60px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 105px;
  padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

/* ---------------------
 basic elementi
 ----------------------- */
/* knofi */
.site-btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 500;
  min-width: 195px;
  padding: 23px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #820952;
  color: #fff;
  line-height: normal;
  cursor: pointer;
  text-align: center;
}

.site-btn:hover {
  color: #fff;
}

.site-btn.sb-c2 {
  background: #383b70;
}

/* preload animacija krogec */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }

  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }

  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

/* ------------------
header stili
 --------------------- */
.header-section {
  position: fixed;
  width: 100%;
  z-index: 30;
  padding-left: 0px;
  padding-right: 0 px;
  background: #08192d;
  text-align: center;
  height: 44px;
}

.site-logo {
  display: inline-block;
  float: right;
  margin-right: 8px;
}

.logo-svg {
  height: 40px;
  width: 35px;
  background-position: center;
  display: block;
  background-image: url("file:///Users/rokmurn/Desktop/harfaveter/header-logo.png");
  background-size: cover;
  margin-top: 5px;
}

.header-right {
  float: right;
  padding: 44px 0;
  margin-left: 130px;
}

.header-right .hr-btn {
  display: inline-block;
  color: #979aa5;
}

.header-right .user-panel {
  display: inline-block;
}

.header-right .user-panel a {
  font-size: 16px;
  color: #ffffff;
  margin: 0 10px;
}

.header-right .user-panel .register {
  color: #820952;
  margin-right: 0;
}

.header-right span {
  color: #fff;
  display: inline-block;
  padding-left: 9px;
}

.main-menu {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin: 0 auto;
}

.main-menu li {
  display: inline-block;
  position: relative;
  float: left;
}

.main-menu li button {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 44px;
}

.main-menu li button:hover {
  color: #820952;
}

.main-menu li:first-child a {
  margin-left: 0;
}

.main-menu li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.main-menu .sub-menu {
  position: absolute;
  list-style: none;
  width: 220px;
  left: 60px;
  top: 100%;
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  margin-top: 50px;
  background: #fff;
  z-index: 99;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
  display: block;
}

.main-menu .sub-menu li a {
  display: block;
  color: #000;
  margin-left: 0;
  padding: 5px 20px;
}

.main-menu .sub-menu li a:hover {
  color: #820952;
}

.main-menu .sub-menu li div button:hover {
  color: #820952;
}

.slicknav_menu {
  display: none;
}

.header-nav-marker {
  display: inline-block;
  padding-bottom: 0;
  float: left;
  margin-right: -20px;
}

.header-nav-filter-sw {
  display: inline-block;
  float: left;
}

.nav-icon:hover {
  color: #820952;
}

/* ------------------
filter sidebar stili
 --------------------- */
.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #021b36;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: scroll;
  -ms-overflow-style: none;
}

/* custom scrollbar stili */
.filter::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.filter::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.filter::-webkit-scrollbar-thumb {
  background: #820952;
  border: 0px none #ffffff;
  border-radius: 0px;
}

.filter::-webkit-scrollbar-thumb:hover {
  background: #fff1f1;
}

.filter::-webkit-scrollbar-thumb:active {
  background: #000000;
}

.filter::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.filter::-webkit-scrollbar-track:hover {
  background: #666666;
}

.filter::-webkit-scrollbar-track:active {
  background: #333333;
}

.filter::-webkit-scrollbar-corner {
  background: transparent;
}

@media only screen and (min-width: 1170px) {
  .filter {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .filter {
    width: 30%;
  }
}

.filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1170px) {
  .filter {
    width: 20%;
  }

  .filter form {
    padding: 30px 10%;
    padding-top: 0px;
  }
}

.filter form {
  padding: 0 20px;
  text-align: left;
}

.no-touch .filter .cd-close:hover {
  background: #32255f;
}

.filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.filter.filter-is-visible .cd-close {
  opacity: 1;
}

@media only screen and (min-width: 1170px) {
  .filter {
    width: 20%;
  }

  .filter form {
    padding: 30px 10%;
    padding-top: 0px;
  }
}

.filter-trigger.filter-is-visible {
  pointer-events: none;
}

@media only screen and (min-width: 1170px) {
  .filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }

  .no-touch .filter-trigger:hover {
    color: #820952;
  }

  .filter-trigger.filter-is-visible,
  .filter-trigger.filter-is-visible:hover {
    color: #fff;
  }
}

.filter-block {
  margin-bottom: 1.6em;
  text-align: left;
}

.filter-block h4 {
  position: relative;
  margin-bottom: 0.2em;
  padding: 10px 0 10px 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.no-touch .filter-block h4:hover {
  color: #820952;
}

.filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.filter-block input,
.filter-block select,
.filter-block .bootstrap-select,
.filter-block .radio-label::before,
.filter-block .checkbox-label::before {
  font-family: open sans, sans-serif;
  border-radius: 0;
  background-color: #fff;
  border: 2px solid #e6e6e6;
}

.filter-block input[type="search"],
.filter-block input[type="text"],
.filter-block select,
.filter-block .bootstrap-select {
  width: 100% !important;
  padding: 0.8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}

.filter-block input[type="search"]:focus,
.filter-block input[type="text"]:focus,
.filter-block .bootstrap-select:focus,
.filter-block select:focus {
  outline: none;
  background-color: #fff;
  border-color: #820952;
}

.filter-block input[type="search"] {
  border-color: transparent;
  background-color: #e6e6e6;
  font-size: 1rem !important;
}

.filter-block input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.filter-block .cd-select {
  position: relative;
}

.filter-block .cd-select::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
  pointer-events: none;
}

.filter-block select,
.filter-block .bootstrap-select {
  cursor: pointer;
  font-size: 1 rem;
}

.filter-block select::-ms-expand {
  display: none;
}

.filter-block .list li {
  list-style: none;
  position: relative;
  margin-bottom: 1em;
  margin-left: 7px;
}

.filter-block .list li:last-of-type {
  margin-bottom: 0;
}

.filter-block input[type="radio"],
.filter-block input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}

.filter-block .checkbox-label,
.filter-block .radio-label {
  padding-left: 40px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 0.3rem;
  margin-bottom: 0 !important;
    color:#ffffff;
}

.filter-block .checkbox-label::before,
.filter-block .checkbox-label::after,
.filter-block .radio-label::before,
.filter-block .radio-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.filter-block .checkbox-label::before,
.filter-block .radio-label::before {
  width: 23px;
  height: 23px;
  left: 0;
}

.filter-block .checkbox-label::after,
.filter-block .radio-label::after {
  display: none;
}

.filter-block .checkbox-label::after {
  width: 23px;
  height: 24px;
  background: url(../img/cd-icon-check.svg) no-repeat center center;
  left: 0;
}

.filter-block .radio-label::before,
.filter-block .radio-label::after {
  border-radius: 50%;
}

.filter-block .radio-label::after {
  width: 6px;
  height: 6px;
  background-color: #fff;
  left: 5px;
}

.filter-block input[type="radio"]:checked + label::before,
.filter-block input[type="checkbox"]:checked + label::before {
  border-color: #820952;
  background-color: #820952;
}

.filter-block input[type="radio"]:checked + label::after,
.filter-block input[type="checkbox"]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  .filter-block .cd-select::after {
    display: none;
  }
}

/* ----------------
 main grid
 ------------------- */
.main-grid {
  padding: 56px 5%;
  padding-bottom: 130px;
  padding-top: 80px;
  width: 100%;
  float: right;
  clear: both;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  /* Lets it scroll lazy */
  overflow: auto !important;
}

.main-grid::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.main-grid::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.main-grid::-webkit-scrollbar-thumb {
  background: #820952;
  border: 0px none #ffffff;
  border-radius: 0px;
}

.main-grid::-webkit-scrollbar-thumb:hover {
  background: #fff1f1;
}

.main-grid::-webkit-scrollbar-thumb:active {
  background: #000000;
}

.main-grid::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.main-grid::-webkit-scrollbar-track:hover {
  background: #666666;
}

.main-grid::-webkit-scrollbar-track:active {
  background: #333333;
}

.main-grid::-webkit-scrollbar-corner {
  background: transparent;
}

/* override za celi html page (v angularju) */
body::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background: #820952;
  border: 0px none #ffffff;
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #fff1f1;
}

body::-webkit-scrollbar-thumb:active {
  background: #000000;
}

body::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

body::-webkit-scrollbar-track:hover {
  background: #666666;
}

body::-webkit-scrollbar-track:active {
  background: #333333;
}

body::-webkit-scrollbar-corner {
  background: transparent;
}

@media only screen and (min-width: 768px) {
  .main-grid.filter-is-visible {
    width: calc(100% - 30%);
  }
}

@media only screen and (min-width: 1170px) {
  .main-grid {
    padding: 60px 2%;
  }
}

@media only screen and (max-width: 768px) {
  .main-grid.filter-is-visible {
    width: calc(100% - 280px);
  }
}

/* ----------------
 grid detail stili
 ------------------- */
.audio-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("audioplaceholder.png");
}

.video-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("videoplaceholder.png");
}

.gridcol {
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-left: 10px;
}

.song-info-box .song-info i {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 900;
  color: #848484;
  text-align: left;
  font-variant: normal;
}

.grid-play-btn {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 36px;
  top: 38px;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  background: #08192d;
}

.grid-play-btn:after {
  position: absolute;
  content: "";
  left: calc(50% - 6px);
  top: calc(50% - 8px);
  font: normal normal normal 18px/1 FontAwesome;
}

/* main grid icon animation */
@-webkit-keyframes animBand {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes animBand {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.play-anim {
  -webkit-animation-name: animBand;
  animation-name: animBand;
}

.animate {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* ----------------
    LOGIN LOGIN
 ------------------- */
.login-div {
  background-color: #021b36;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

/* ----------------
intro del
 ------------------- */
.intro-section p {
  margin-bottom: 35px;
  padding-top: 10px;
}

/* ----------------
 how del
 ------------------- */
.how-section {
  background-color: #0a183d;
}

.how-item .hi-icon {
  position: relative;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background: #820952;
  margin-bottom: 25px;
}

.how-item .hi-icon img {
  position: absolute;
  right: -8px;
  bottom: 0;
}

.how-item h4 {
  margin-bottom: 25px;
}

.how-item p {
  font-weight: 400;
  opacity: 0.6;
}

/* ----------------
koncept del
 ------------------- */
.concept-section p {
  padding-top: 5px;
}

.concept-item {
  text-align: center;
  padding-top: 35px;
}

.concept-item img {
  border-radius: 40px;
  margin-bottom: 15px;
}

/* --------------------
subscribe del
 ----------------------- */
.subscription-section {
  background: #0a183d;
}

.sub-text {
  padding-right: 15px;
}

.sub-text h2 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 500;
}

.sub-text h3 {
  color: #820952;
  margin-bottom: 30px;
  font-weight: 500;
}

.sub-text p {
  color: #fff;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 40px;
}

.sub-list {
  list-style: none;
  background: #1c294a;
  padding: 70px 15px 50px 155px;
  border-radius: 42px;
}

.sub-list li {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 25px;
}

.sub-list li img {
  padding-right: 28px;
}

/* ----------------
MAIN DETAIL PLAY SECTION (TOP DETAIL)
 ------------------- */
.detail-play-section {
  padding: 80px 0 50px;
  clear: both;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #021b36;

  /* Lets it scroll lazy */
  overflow: auto !important;
}

@media only screen and (min-width: 768px) {
  .detail-play-section.filter-is-visible {
    width: calc(100% - 30%);
  }
}

@media only screen and (max-width: 768px) {
  .detail-play-section.filter-is-visible {
    width: calc(100% - 280px);
  }
}

/* ----------------
MAIN DETAIL PLAYER
 ------------------- */
.main-video-player {
  background-color: #000000;
  border-radius: 15px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  min-height: auto;
  height: 280px;
}
.main-video-player-mat {
  background-color: #000000;
  border-radius: 15px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  min-height: auto;
  height: 280px;
}

/* ----------------
MAIN DETAIL PLAYBAR
 ------------------- */
.is-audio {
  border-radius: 15px;
  min-height: 24px;
  height: 25px !important;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("file:///Users/rokmurn/Desktop/harfaveter/isaudio-placeholder.png");
}

/* ----------------
DETAIL DETAILS (horizontal scroll div)
 ------------------- */
.main-section {
  border: 1px solid rgba(8, 25, 45, 0.29);
  background-color: #fff;
  -webkit-box-shadow: 1px -1px 13px -4px rgba(20, 20, 20, 1);
  -moz-box-shadow: 1px -1px 13px -4px rgba(20, 20, 20, 1);
  box-shadow: 1px -1px 13px -4px rgba(20, 20, 20, 1);
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}

.profile-header {
  background-color: #021b36;
  height: 110px;
}

.user-detail {
  margin: -50px 0px 30px 0px;
}

.user-detail img {
  height: 150px;
  width: 150px;
}

.user-detail h5 {
  margin: 15px 0px 5px 0px;
}

.user-social-detail {
  padding: 15px 0px;
  background-color: #021b36;
}

.user-social-detail a i {
  color: #fff;
  font-size: 23px;
  padding: 0px 5px;
}

.current-item-more {
  height: 100%;
  background-color: #f2f2f2;
}

.current-item-related {
  height: 100%;
  background-color: #f2f2f2;
}

.current-item-more > .row {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  padding-bottom: 15px;
}

.current-item-more > .row > .col-lg-4 {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.current-item-more > .row > .col-md-4 {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.detail-more-files {
  -webkit-box-shadow: 1px -1px 13px -4px rgba(20, 20, 20, 1);
  -moz-box-shadow: 1px -1px 13px -4px rgba(20, 20, 20, 1);
  box-shadow: 1px -1px 13px -4px rgba(20, 20, 20, 1);
}

.current-item-more .row::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.current-item-more .row::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.current-item-more .row::-webkit-scrollbar-thumb {
  background: #820952;
  border: 0px none #ffffff;
  border-radius: 0px;
}

.current-item-more .row::-webkit-scrollbar-thumb:hover {
  background: #fff1f1;
}

.current-item-more .row::-webkit-scrollbar-thumb:active {
  background: #000000;
}

.current-item-more .row::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.current-item-more .row::-webkit-scrollbar-track:hover {
  background: #666666;
}

.current-item-more .row::-webkit-scrollbar-track:active {
  background: #333333;
}

.current-item-more .row::-webkit-scrollbar-corner {
  background: transparent;
}

/* ----------------
DETAIL DETAILS SORODNE VSEBINE
 ------------------- */
.main-grid-on-details {
  padding-top: 40px;
}

/* ----------------
responsive forice
 ------------------- */
.footer-section {
  background: #0a183d;
  padding: 100px 0 85px;
}

.footer-widget {
  padding-top: 2px;
}

.footer-widget h2 {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-widget ul {
  list-style: none;
}

.footer-widget ul li a {
  display: inline-block;
  color: #6a7080;
  font-size: 14px;
  margin-bottom: 10px;
}

.copyright {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  color: #505565;
  padding: 10px 0 25px;
}

.social-links a {
  display: inline-block;
  color: #6a7080;
  font-size: 18px;
  margin-right: 35px;
}

/* ----------------
placeholder
 ------------------- */
/* ----------------
main bottom player
 ------------------- */
.persist-player {
  position: fixed;
  z-index: 50;
  background-color: #08192d;
  bottom: 0;
  left: 0;
  width: 100%;
}

.author-info-label {
  color: #ffffff;
}

.author-info-label-seperator {
  color: #ffffff;
}

.poem-info-label {
  color: #fefefe;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.interpret-label {
  color: #b4b2b2;
}

.interpret-info-label {
  color: #b4b2b2;
}

/* ----------------
playlist del
 ------------------- */
.playlist-section {
  padding: 105px 42px;
}

.playlist-section .section-title {
  float: left;
}

.playlist-filter {
  text-align: right;
  padding-top: 20px;
  margin-bottom: 100px;
}

.playlist-filter li {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #6a7080;
  padding: 10px 6px 16px;
  margin-right: 55px;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.playlist-filter li.mixitup-control-active {
  border-bottom: 2px solid #820952;
}

.playlist-item {
  text-align: center;
  padding: 0 11px;
  margin-bottom: 30px;
}

.playlist-item img {
  min-width: 100%;
  border-radius: 40px;
  margin-bottom: 30px;
}

.search-form {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.search-form input {
  width: 100%;
  height: 60px;
  padding-left: 41px;
  padding-right: 175px;
  border: none;
  border-radius: 80px;
  font-size: 15px;
  background: #d0d7db;
}

.search-form button {
  position: absolute;
  height: 60px;
  min-width: 167px;
  right: 0;
  top: 0;
  border: none;
  border-radius: 80px;
  color: #fff;
  font-size: 15px;
  background: #820952;
}

/* ----------------
kategorija del
 ------------------- */
.category-section {
  padding: 105px 36px;
}

.category-section .section-title {
  float: left;
}

.category-links {
  text-align: right;
  padding-top: 20px;
  margin-bottom: 80px;
}

.category-links a {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #6a7080;
  padding: 10px 6px 16px;
  margin-right: 55px;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.category-links a.active {
  border-bottom: 2px solid #820952;
}

.category-item {
  position: relative;
  margin: 0 17px;
}

.category-item img {
  min-width: 100%;
  border-radius: 40px;
}

.category-item .ci-text {
  position: absolute;
  bottom: 35px;
  left: 50px;
}

.category-item .ci-text h4 {
  color: #fff;
  margin-bottom: 3px;
}

.category-item .ci-text p {
  color: #fff;
  margin-bottom: 0;
  font-size: 12px;
}

.category-item .ci-link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 71px;
  height: 71px;
  right: 29px;
  bottom: 21px;
  color: #820952;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
}

.songs-section {
  padding-bottom: 80px;
}

.song-item {
  margin-bottom: 33px;
}

.song-info-box .img-placeholder {
  float: left;
  width: 85px;
  height: 85px;
  border-radius: 19px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.song-info-box .song-info {
  overflow: hidden;
  padding-top: 20px;
}

.song-info-box .song-info h4 {
  font-size: 22px;
  margin-bottom: 4px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song-info-box .song-info p {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}

.songs-links {
  text-align: right;
  padding-top: 26px;
}

.songs-links a {
  display: inline-block;
  margin-left: 15px;
  padding-top: 5px;
}

.single_player_container {
  margin-top: 30px;
  padding-left: 10px;
}

.single_player_container .jp-interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player_bars {
  width: calc(100% - 145px);
  position: relative;
  padding-top: 8px;
}

.player_controls_box {
  width: 145px;
}

.player_controls > button:not(:last-of-type) {
  margin-right: 4px;
}

.player_button {
  position: absolute;
  width: 30;
  height: 30;
  background: #d0d7db;
  border: none;
  border-radius: 50%;
  outline: none !important;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  z-index: 34;
  bottom: 5px;
}

.player_button::after {
  display: block;
  position: absolute;
}

.jp-play {
  background: #820952;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.jp-play:after {
  left: 30px;
  top: 25px;
  width: 11px;
  height: 13px;
  content: url(/harfa/Public/7f66947e-c56f-47dd-a2cd-b175764ea693);
}

.jp-state-playing .jp-play::after,
.playing .jp-play::after {
  top: 25px !important;
  left: 28px !important;
  content: url(/harfa/Public/3ac9dac2-429d-4aaf-bbcf-55f5dc60f401);
}

.jp-prev:after {
  top: 1px !important;
  left: 6px !important;
  content: url(../img/icons/back.png);
}

.jp-next:after {
  top: 1px !important;
  right: 7px !important;
  content: url(../img/icons/next.png);
}

.jp-stop::after {
  top: 10px;
  left: 10px;
  width: 8px;
  height: 8px;
  background: #475069;
  content: "";
}

.player_button_detail {
  position: absolute;
  width: 30;
  height: 30;
  background: #d0d7db;
  border: none;
  border-radius: 50%;
  outline: none !important;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  z-index: 10;
  bottom: 40%;
  top: 41%;
}

.player_button_detail::after {
  display: block;
  position: absolute;
}

.jp-play-detail {
  background: #727272;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.jp-play-detail:after {
  left: 30px;
  top: 25px;
  width: 11px;
  height: 13px;
  content: url(../img/icons/play.png);
}

.jp-state-playing .jp-play-detail::after,
.playing .jp-play-detail::after {
  top: 25px !important;
  left: 28px !important;
  content: url(../img/icons/pause.png);
}

.jp-progress {
  width: 100%;
  cursor: pointer;
}

.jp-seek-bar {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: transparent;
  margin-bottom: -5px;
}

.jp-seek-bar > div {
  height: 2px;
  background: #d0d7db;
}

.jp-play-bar {
  position: relative;
  height: 100%;
  background: #272727;
  overflow: visible !important;
}

.jp-current-time {
  position: absolute;
  font-size: 14px;
  color: #0a183d;
  right: -40px;
  top: 100%;
  padding-top: 15px;
  background: #fff;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle .jp-current-time {
  right: -5px;
  padding: 15px 5px 0;
}

.jp-duration {
  position: absolute;
  font-size: 14px;
  color: #b8b8b8;
  right: 0;
  bottom: -16px;
}

/* ----------------
interpretacija
 ------------------- */
.player-section {
  padding: 57px 53px;
}

.player-box {
  padding: 77px 121px 100px 81px;
  border-radius: 24px;
  background: #fff;
}

.player-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wave-player-warp {
  padding-top: 40px;
  position: relative;
  width: calc(100% - 382px);
}

.tarck-thumb-warp {
  width: 382px;
}

.tarck-thumb {
  max-width: 333px;
  position: relative;
}

.tarck-thumb img {
  border-radius: 22px;
}

.tarck-thumb .wp-play {
  position: absolute;
  width: 70px;
  height: 70px;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  border: none;
  border-radius: 50%;
  color: #820952;
  background: #fff;
}

.tarck-thumb .wp-play:after {
  position: absolute;
  content: "";
  left: calc(50% - 6px);
  top: calc(50% - 8px);
  font: normal normal normal 18px/1 FontAwesome;
}

.playing .tarck-thumb .wp-play:after {
  position: absolute;
  content: "";
  left: calc(50% - 8px);
  font: normal normal normal 18px/1 FontAwesome;
}

.wave-player-info h2 {
  font-size: 48px;
  font-weight: 600;
}

.wave-player-info p {
  font-size: 14px;
}

.wavePlayer_controls {
  padding-top: 20px;
}

#wavePlayer {
  position: relative;
}

#currentTime {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  color: #0a183d;
  font-weight: 500;
  background: #fff;
  padding-right: 2px;
}

#clipTime {
  position: absolute;
  right: 10px;
  top: 59px;
  font-size: 14px;
  color: #b8b8b8;
  font-weight: 500;
}

.songs-details-section {
  padding: 100px 38px 50px;
  background: #f9fcfd;
}

.song-details-box {
  margin-bottom: 30px;
  overflow: hidden;
}

.song-details-box h3 {
  margin-bottom: 50px;
}

.song-details-box ul {
  list-style: none;
  max-width: 310px;
}

.song-details-box ul li {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 2;
}

.song-details-box ul strong {
  float: left;
  margin-right: 6px;
  font-weight: 600;
  color: #0a183d;
}

.song-details-box ul span {
  display: block;
  overflow: hidden;
  color: #6a7080;
}

.song-details-box .single_player_container {
  margin-top: 0;
  padding-left: 0;
}

.artist-details img {
  float: left;
  width: 163px;
  height: 163px;
  margin-right: 30px;
  border-radius: 50%;
}

.artist-details h5 {
  margin-bottom: 5px;
  padding-top: 10px;
}

.artist-details span {
  display: block;
  font-size: 12px;
  color: #c3c4c9;
  margin-bottom: 15px;
}

.artist-details .ad-text {
  overflow: hidden;
}

.song-details-box .song-info-box img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 13px;
}

.song-details-box .song-info-box .song-info {
  padding-top: 10px;
}

.song-details-box .song-info-box .song-info h4 {
  font-size: 14px;
}

.song-details-box .song-info-box .song-info p {
  font-size: 10px;
}

.song-details-box .song-item {
  margin-bottom: 22px;
}

.song-details-box .player_controls_box {
  width: 102px;
}

.song-details-box .player_button {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: center;
  transform-origin: center;
  margin: 0 -5px;
}

.song-details-box .player_bars {
  width: calc(100% - 102px);
}

.song-details-box .single_player {
  padding: 14px 15px 0 0px;
}

.song-details-box .jp-current-time {
  font-size: 10px;
  right: -29px;
  padding-top: 9px;
}

.song-details-box .middle .jp-current-time {
  right: -5px;
  padding: 9px 5px 0;
}

.song-details-box .jp-duration {
  font-size: 10px;
  bottom: -6px;
}

.similar-songs-section {
  padding: 100px 33px;
}

.similar-songs-section h3 {
  margin-bottom: 70px;
  padding-left: 6px;
}

.similar-song {
  padding: 0 6px;
  margin-bottom: 35px;
}

.similar-song .ss-thumb {
  border-radius: 41px;
  margin-bottom: 22px;
  min-width: 100%;
}

.similar-song h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.similar-song p {
  font-size: 14px;
}

.similar-song .player_bars {
  width: 100%;
}

.similar-song .jp-current-time {
  padding-top: 10px;
}

.similar-song .jp-duration {
  bottom: -25px;
}

.ss-controls {
  padding: 15px 0 10px;
}

.ss-controls .songs-links {
  padding-top: 0;
  float: right;
}

/* ----------------
responsive forice
 ------------------- */
@media (min-width: 1200px) {
  .container {
    max-width: 1176px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1360px) {
  .header-right {
    margin-left: 50px;
  }

  .main-menu li a {
    margin-left: 25px;
  }

  .main-menu .sub-menu {
    left: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* .header-section {
        padding-left: 15px;
        padding-right: 20px;
    } */
  .header-right {
    margin-left: 20px;
  }

  .main-menu li button {
    margin-left: 15px;
  }

  .main-menu .sub-menu {
    left: 15px;
  }

  .hr-img img {
    min-width: 500px;
    position: relative;
  }

  .sub-list {
    padding: 70px 15px 50px 90px;
  }

  .category-section .section-title,
  .playlist-section .section-title {
    float: none;
  }

  .category-links,
  .playlist-filter {
    text-align: left;
  }

  .playlist-item {
    padding: 0;
  }

  .player-box {
    padding: 70px 80px 80px;
  }

  .similar-song {
    margin-bottom: 70px;
  }

  .artist-details img {
    float: none;
    margin-bottom: 30px;
  }

  .contact-warp {
    padding: 100px 15px 60px 40px;
  }

  .category-item {
    margin: 0;
  }

  .category-section {
    padding: 100px 0;
  }
}

/* Responsive za tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hr-img {
    display: none;
  }

  .slicknav_menu {
    display: block;
    background: transparent;
    margin-top: -60px;
  }

  .slicknav_nav {
    background: #1c294a;
    margin-bottom: 35px;
  }

  .slicknav_nav ul {
    margin: 0 0 0 0;
  }

  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 12px 25px;
    margin: 0;
  }

  .slicknav_nav a:hover {
    border-radius: 0;
    color: #820952;
    background: transparent;
  }

  .slicknav_btn {
    position: relative;
    top: -24px;
    background: #1c294a;
  }

  .main-menu {
    display: inline-block;
  }

  .header-right {
    display: none;
  }

  .header-right-warp .header-right {
    display: block;
    float: none;
    padding: 0 0 24px;
    margin-left: 0;
  }

  .header-right-warp .header-right span {
    display: none;
  }

  .header-right-warp .header-right .user-panel {
    display: block;
    padding-left: 26px;
  }

  .header-right-warp .header-right .user-panel a {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .header-right-warp .header-right .user-panel a:hover {
    background: transparent;
  }

  .header-right-warp .header-right .user-panel .login {
    padding-right: 10px;
  }

  .sub-text {
    margin-bottom: 50px;
  }

  .footer-widget {
    margin-bottom: 40px;
  }

  .category-section .section-title,
  .playlist-section .section-title {
    float: none;
  }

  .category-links,
  .playlist-filter {
    text-align: left;
  }

  .playlist-item {
    padding: 0;
  }

  .player-box {
    display: block;
    padding: 77px 90px 100px;
  }

  .wave-player-warp {
    width: 100%;
  }

  .wave-player-warp .songs-links {
    text-align: center;
    padding-top: 0;
    margin-bottom: 40px;
  }

  .tarck-thumb-warp {
    width: 100%;
  }

  .tarck-thumb-warp .tarck-thumb {
    margin: 0 auto;
  }

  .wave-player-info,
  .wavePlayer_controls {
    text-align: center;
  }

  .similar-song {
    margin-bottom: 60px;
  }

  .playlist-section,
  .category-section {
    padding: 100px 0;
  }

  .playlist-section .container,
  .category-section .container {
    max-width: 100%;
  }

  .category-item {
    margin: 0;
  }

  .category-item .ci-link {
    top: 26px;
    bottom: auto;
  }

  .category-item .ci-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  .map {
    height: 450px;
  }

  .song-details-box ul {
    max-width: 100%;
  }

  .search-form {
    margin-top: 40px;
  }

  .main-grid.filter-is-visible {
    width: calc(100% - 25%);
  }
}

/* telefon480px */
@media only screen and (max-width: 767px) {
  .hr-img {
    display: none;
  }

  .slicknav_menu {
    display: block;
    background: transparent;
    margin-top: -60px;
  }

  .slicknav_nav {
    background: #1c294a;
    margin-bottom: 35px;
  }

  .slicknav_nav ul {
    margin: 0 0 0 0;
  }

  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 12px 25px;
    margin: 0;
  }

  .slicknav_nav a:hover {
    border-radius: 0;
    color: #820952;
    background: transparent;
  }

  .slicknav_btn {
    position: relative;
    top: -24px;
    background: #1c294a;
  }

  .main-menu {
    display: inline-block;
  }

  .header-right {
    display: none;
  }

  .header-right-warp .header-right {
    display: block;
    float: none;
    padding: 0 0 24px;
    margin-left: 0;
  }

  .header-right-warp .header-right span {
    display: none;
  }

  .header-right-warp .header-right .user-panel {
    display: block;
    padding-left: 26px;
  }

  .header-right-warp .header-right .user-panel a {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .header-right-warp .header-right .user-panel a:hover {
    background: transparent;
  }

  .header-right-warp .header-right .user-panel .login {
    padding-right: 10px;
  }

  .sub-list {
    padding: 60px 15px 50px 30px;
  }

  .sub-text {
    margin-bottom: 50px;
  }

  .footer-widget {
    margin-bottom: 40px;
  }

  .category-section .section-title,
  .playlist-section .section-title {
    float: none;
  }

  .category-links,
  .playlist-filter {
    text-align: left;
  }

  .playlist-filter li,
  .category-links a {
    margin-right: 15px;
  }

  .playlist-item {
    padding: 0;
  }

  .playlist-section {
    padding: 100px 0;
  }

  .artist-details img {
    float: none;
    margin-bottom: 30px;
  }

  .player-box {
    display: block;
  }

  .wave-player-warp {
    width: 100%;
  }

  .wave-player-warp .songs-links {
    text-align: center;
    padding-top: 0;
    margin-bottom: 40px;
  }

  .tarck-thumb-warp {
    width: 100%;
  }

  .tarck-thumb-warp .tarck-thumb {
    margin: 0 auto;
  }

  .wave-player-info,
  .wavePlayer_controls {
    text-align: center;
  }

  .player-box {
    padding: 75px 40px 80px;
  }

  .similar-song {
    margin-bottom: 60px;
  }

  .songs-details-section {
    padding: 100px 0px 50px;
  }

  .similar-songs-section,
  .playlist-section {
    padding: 100px 0;
  }

  .similar-songs-section .container,
  .playlist-section .container {
    max-width: 100%;
  }

  .category-section {
    padding: 105px 0;
  }

  .category-section .container {
    max-width: 100%;
  }

  .header-section {
    padding: 0 0;
  }

  .category-item {
    margin: 0 0 30px;
  }

  .map {
    height: 450px;
  }

  .contact-warp {
    padding: 100px 40px;
  }

  .songs-links {
    text-align: left;
    padding-top: 40px;
  }

  .song-details-box ul {
    max-width: 100%;
  }

  .search-form {
    margin-top: 40px;
  }
}

/* telefon pokončno:20px. */
@media only screen and (max-width: 479px) {
  .section-title h2,
  .hs-item h2,
  .sub-text h2 {
    font-size: 36px;
  }

  .wave-player-info h2 {
    font-size: 24px;
  }

  .header-section {
    padding: 0;
  }

  .player-box {
    padding: 40px;
  }

  .contact-warp {
    padding: 100px 15px;
  }

  .category-item .ci-link {
    top: 26px;
    bottom: auto;
  }

  .category-item .ci-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  .single_player_container .jp-interface {
    display: block;
  }

  .song-details-box .player_controls_box,
  .player_controls_box {
    width: 100%;
  }

  .song-details-box .player_bars,
  .player_bars {
    width: 100%;
  }

  .song-details-box .jp-duration {
    bottom: -19px;
  }

  .jp-duration {
    bottom: -31px;
  }

  .song-details-box .song-item {
    margin-bottom: 40px;
  }

  .player-section,
  .player-box {
    padding: 15px;
  }

  .social-links a {
    margin-right: 20px;
  }

  .search-form {
    text-align: center;
  }

  .search-form input {
    padding-right: 41px;
  }

  .search-form button {
    position: relative;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .nav-logo {
    display: none;
  }
}

/* modal override */
.modal {
  padding: 0 !important;
}

.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.modal .modal-body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.modal-header {
  border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer {
  border-top: 1px solid #9ea2a2 !important;
}

.sort-icon {
  margin-left: 5px;
  margin-right: 6px;
}

.is-audio-btn {
  width: 35px;
  height: 35px;
  top: -5px;
}

.is-audio-btn:after {
  left: 13px;
  top: 8px;
}

.no-wave {
  display: none;
}
