<!DOCTYPE html>
<html lang="sl">
<head>
	<title>Medana - Muzej poezije</title>
	<meta charset="UTF-8">
	<meta name="description" content="Medana - Muzej poezije">
	<meta name="keywords" content="Medana, Muzej, poezija, pesnik, interpret, harfa, harfa v vetru, veter,">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">

	<!-- ico -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<body style="background-color: #efefef;">
	<!-- loader -->

	<!--====== Javascripts & Jquery ======-->
	<section class="login-div">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-block text-center">
                            <img src="/harfa/Public/ddbf3ab5-5a97-4056-a551-3499d687349b" class="img-fluid nav-logo" style="margin: 0 auto;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-white">Seja ni veljavna</h3>
                        <p>Za uporabo aplikacije je trenutno omejena za plačljive itd...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-white">Prijava</h3>
                        <h3 class="text-white"></h3>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form role="form">
                            <div class="form-group">

                                <input type="text" class="form-control"  placeholder="Username" [ngModelOptions]="{standalone: true}" [(ngModel)]="username">
                            </div>

                            <div class="form-group">

                                <input type="password" class="form-control"  placeholder="Password" [ngModelOptions]="{standalone: true}" [(ngModel)]="password">
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="exampleInputCheck1" [ngModelOptions]="{standalone: true}" [(ngModel)]="persist">
                                <label class="form-check-label text-white" for="exampleInputCheck1">Pernament session</label>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-primary" (click)="Authenticate()">Prijava/GetSession</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



	</body>

</html>
