
<header class="header-section clearfix">
  <span class="site-logo">
    <span class="logo-svg"></span>
  </span><div class="header-nav-filter-sw">
              <button id="filteropen" class="btn" style="margin-left: 0px; padding-bottom: 2px; padding-top: 2px; line-height: 35px;" (click)="changefilter()">
                  <i class="fa fa-inverse float-left fa-2x fa-sliders nav-icon"></i><span style="color: #ffffff; text-transform: uppercase; margin-left: 8px;">Filter</span>
              </button>
          </div><ul class="main-menu fa-ul">


      <li>

          <button class="btn" (click)="changeSort('pesem')">PESEM<span style="font-size:25px" class="sort-icon float-left"><i id="sortPesem" class="fa fa-sort-alpha-asc fa-fw"></i></span></button>
      </li><li>

          <button class="btn" (click)="changeSort('pesnik')">PESNIK<span style="font-size:25px" class="sort-icon float-left"><i id="sortPesnik" class="fa fa-sort-alpha-asc fa-fw"></i></span></button>
      </li><li>

          <button class="btn" (click)="changeSort('interpret')">INTERPRET<span style="font-size:25px" class="sort-icon float-left"><i id="sortInterperet" class="fa fa-sort-alpha-asc fa-fw"></i></span></button>
      </li>


  </ul>
  <div id="searchFilter" class="filter filter-is-visible">
<div class="filter-block text-center">
<button id="filterclose" class="btn d-inline" style="margin-right: auto; position: absolute; right: 0;" (click)="changefilter()">
                              <i class="fa fa-inverse float-left nav-icon fa-close fa-2x"></i>
                          </button><img src="/harfa/Public//ddbf3ab5-5a97-4056-a551-3499d687349b" class="img-fluid nav-logo" style="margin: 0 auto;">
</div><form>
<div class="filter-block ">
<h4>{{tran.Search}}</h4>
<div class="filter-content">
<input type="search" placeholder="{{tran.SearchPlaceholder}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="modelFilter.search"
(ngModelChange)="changeModel('search')">
</div>
</div><div class="filter-block">
<h4>{{tran.ChooseLangContent}}</h4>
<select  class="selectpicker" multiple data-actions-box="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="modelFilter.lang"
(ngModelChange)="changeModel('lang')">
  <option *ngFor="let lang of langArray" [value]="lang.Id">{{lang.NazivJezik}}</option>
</select>

</div><div class="filter-block">
<h4>{{tran.ChooseStateOfPerfomance}}</h4>
<select  class="selectpicker"  data-language="sl_SI" multiple data-actions-box="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="modelFilter.state"
(ngModelChange)="changeModel('state')">
  <option *ngFor="let state of stateArray" [value]="state.Id">
    {{state.NazivDrzave}}</option>
</select>
</div>
<div class="filter-block">
<h4>{{tran.Poet}}</h4>
<ul class="filter-content filters list" style="display: block;">
  <ng-container *ngFor="let poet of poetArray">
<li *ngIf="authorVisible[poet.Id]">
<input class="filter" type="checkbox" id={{poet.Id}} [ngModelOptions]="{standalone: true}" [(ngModel)]="modelFilter.autors[poet.Id]" (ngModelChange)="changeModel('autors')">
<label class="checkbox-label" for={{poet.Id}}>{{poet.NazivPesnik}}</label>
</li>
</ng-container>
</ul>
</div>
</form>

</div>


</header>
