<div [ngSwitch]="actionType">
  <div *ngSwitchCase="'login'">
    <app-login></app-login>
  </div>
  <div  *ngSwitchCase="'show'">
    <app-common-panel></app-common-panel>
  </div>
  <div  *ngSwitchCase="'detail'">
    <app-detail-li></app-detail-li>
  </div>
  <div *ngSwitchCase="'error'">
    <app-error-template></app-error-template>
  </div>
  <div  *ngSwitchCase="'loader'">
    <div id="preloder">
      <div class="loader">
      </div>
    </div>
  </div>
</div>
