<header class="header-section clearfix">
  <span class="site-logo">
    <span class="logo-svg"></span>
  </span>
  <div class="header-nav-filter-sw">
    <button id="filteropen" class="btn" (click)="backOnList()"
      style="margin-left: 0px; padding-bottom: 2px; padding-top: 2px; line-height: 35px;">
      <i class="fa fa-inverse float-left fa-2x nav-icon fa-arrow-left"></i><span
        style="color: #ffffff; text-transform: uppercase; margin-left: 8px;">Vrni se na seznam</span>
    </button>
  </div>
</header>

<!--====== Javascripts & Jquery ======-->
<section class="persist-player">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 play-box">

        <div class="row">
          <div class="col-md-12" style="text-align: center; background-color: #021b36;">
            <span class="author-info-label">{{poetryObj.Pesnik__NazivPesnik}}</span>
            <span class="author-info-label-seperator">---</span>
            <span class="poem-info-label">{{poetryObj.Pesem__NaslovPesmi}}</span>
            <span class="author-info-label-seperator">---</span>
            <span class="interpret-label">Interpretacija:</span>
            <span class="interpret-info-label">{{poetryObj.Interpreter__NazivInterpreter}}</span>
          </div>
        </div>
        <div id="wavePlayerMain" class="clierfix">
          <button class="jp-play player_button" (click)="playdetail()"></button>
          <div id="audiowaveDetail" ></div>
          <div id="currentTime"></div>
          <div id="clipTime"></div>
          <!-- Player Controls -->

        </div>


      </div>
    </div>
  </div>
</section>
<section class="detail-play-section">
  <div class="container-fluid">
    <div class="row mb-sm-2">
      <div class="col-md-2">

        <div class="">

        </div>
      </div >

        <mat-video #video class="main-video-player-mat col-md-8"    [preload]=true [muted]="false" [overlay]="false">

        </mat-video>

        <div></div>
      </div>
      <div class="col-md-2">

        <div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">


        </div>
      </div>
    </div>
    <div class="row mb-2 mt-4">

      <div class="col-md-8  offset-md-2">

        <h4 class="text-white poem-info-label text-center">
          {{poetObj.Pesem__NaslovPesmi}}
        </h4>

      </div>
      <div class="col-md-12" style="text-align: center; background-color: #021b36;">
        <span class="author-info-label">{{poetObj.Pesnik__NazivPesnik}}</span>
        <span class="author-info-label-seperator">---</span>


        <span class="interpret-label">Interpretacija:</span>
        <span class="interpret-info-label">{{poetObj.Interpreter__NazivInterpreter}}</span>
      </div>

    </div>


</section>
<section class="cur-item-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pt-md-2 current-item-more">
        <div class="row">
          <div class="text-center mb-3 mt-3">
            <i class="fa fa-3x fa-info"></i>
            <h3>Več informacij</h3>
          </div>
        </div>
        <div class="row">
          <div class="main-section text-center col-lg-4 offset-lg-1 col-sm-10 offset-sm-1">
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="row user-detail">
              <div class="col-lg-12 col-sm-12 col-12">

                <span class="fa-stack fa-5x"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i
                    class="fa fa-user fa-stack-1x"></i></span>
                <h3>{{poetObj.Pesnik__NazivPesnik}}</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ljubljana, Slovenija</p>
                <hr>
                <p> France Prešeren se je rodil v kmečki družini. V osnovni šoli je bil tako priden, da so ga zapisali v zlato knjigo. Po uspešno zaključenem študiju na dunajski pravni fakulteti se je vrnil v Ljubljano, kjer je delal kot odvetnik. V tem času je napisal večino svojih pesmi, pri pisanju katerih ga je pomembno usmerjal prijatelj Matija Čop. Prešeren je prvi Slovenec, ki se je po kakovosti svojega pisanja lahko kosal s sodobniki po Evropi, kjer je tedaj vladala romantična usmeritev.
                </p>
                <hr>
              </div>
            </div>
            <div class="row user-social-detail">
              <div class="col-lg-12 col-sm-12 col-12">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-book"></i> Odpri Biografijo
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <ul class="list-group detail-more-files">


                <li class="list-group-item">
                  <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i
                      class="fa fa-stack-1x fa-headphones"></i></span>Ime datoteke
                </li>
                <li class="list-group-item">
                  <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i
                      class="fa fa-stack-1x fa-film"></i></span>Ime datoteke
                </li>
                <li class="list-group-item">
                  <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i
                      class="fa fa-stack-1x fa-file-text"></i></span>Ime datoteke
                </li>
                <li class="list-group-item">
                  <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i
                      class="fa fa-stack-1x fa-file-pdf-o"></i></span>Ime datoteke
                </li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>


  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="text-center mt-3">
            <i class="fa fa-3x fa-language"></i>
            <h3>Povezane vsebine</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="current-item-related col-md-12">
        <section class="main-grid main-grid-on-details">
          <div class="container-fluid">
            <div class="row " >
              <div class="gridcol col-lg-auto" *ngFor="let relcont of relatedContent;">
                <div class="song-info-box">
                  <div class="img-placeholder">
                    <div class="{{relcont.classimage}}">
                      <button (click)="changePlay(relcont.Id)" class="grid-play-btn"></button>
                    </div>
                  </div>
                  <div class="song-info">
                    <h4>{{relcont.Pesem__NaslovPesmi}}</h4>
                    <p>{{relcont.Pesnik__NazivPesnik}}</p>
                    <i>{{relcont.Interpreter__NazivInterpreter}}</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
