<section  id="mainGrid" class="main-grid filter-is-visible">
  <div class="container-fluid" [ngSwitch]="listEmpty">
      <div class="row "  *ngSwitchCase="false" >
          <div  *ngFor="let poet of poetry.data;trackBy:identify" class="gridcol col-lg-4" >
          <div class="song-info-box">
            <div class="img-placeholder">
              <div class="{{poet.classimage}}" (click)="changePoetry(poet.Id)"><button  class="grid-play-btn"></button></div>
          </div>
            <div class="song-info" (click)="changeDetail(poet.Id)">
              <h4>{{poet.Pesem__NaslovPesmi}}</h4>
              <p>{{poet.Pesnik__NazivPesnik}}</p><i>{{poet.Interpreter__NazivInterpreter}}</i>
            </div>
          </div>
        </div>

      </div>
      <div class="row " *ngSwitchCase="true"><h4>List empty</h4></div>
  </div>
</section>
