<section class="persist-player">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 play-box" >

        <div class="row">
          <div class="col-md-12" style="text-align: center; background-color: #021b36;">
            <span class="author-info-label">{{poetry.Pesnik__NazivPesnik}}</span>
            <span class="author-info-label-seperator">{{poetry._Separator}}</span>
            <span class="poem-info-label">{{poetry.Pesem__NaslovPesmi}}</span>
            <span class="author-info-label-seperator">{{poetry._Separator}}</span>
            <span class="interpret-label">{{tran.Interpretation}}:</span>
            <span class="interpret-info-label">{{poetry.Interpreter__NazivInterpreter}}</span>
          </div>
        </div>
        <div id="wavePlayer" class="clierfix">
          <button id="playButton" class="jp-play player_button no-wave" (click)="playpausewave()"></button>
          <div id="audiowave"></div>
          <div id="currentTime"></div>
          <div id="clipTime"></div>
          <!-- Player Controls -->

        </div>


      </div>
    </div>
  </div>
</section>
